<div class="container">
  <nav class="navigation">
    <div class="navigation__item">Home</div>
    <div class="navigation__item">Experience</div>
    <div class="navigation__item">Education</div>
    <div class="navigation__item">Skills</div>
  </nav>
  <div class="info">
    <img class="info__image"
      src="https://www.vippng.com/png/detail/109-1091107_developer-illustration-working-on-laptop.png" />
    <div class="info__title">
      I'm <span class="info__title__name">{{ personal.name }}</span>
    </div>
    <div class="info__tagline">
      Software Engineer, Full-Stack Developer.
    </div>
    <div class="links">
      {{#each personal.links}}
      <a class="links__item" href="{{this.url}}"><img class="links__image" src="{{this.image}}" /></a>
      {{/each}}
    </div>
  </div>