@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;700&display=swap");

body {
  font-family: "Rubik", sans-serif;
  color: #212121;
}

.container {
  height: 100vh;
  width: 100vw;
  padding: 16px;
}

.navigation {
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 0;
  right: 0;
  left: 0;
  padding: 8px;
}

.navigation__toggle {
  align-self: flex-end;
  position: relative;
  display: inline-block;
  padding: 8px;
  border: 1.5px solid grey;
  border-radius: 50%;
  background-color: white;
}

.navigation__toggle__image {
  height: 16px;
}

.navigation__menu {
  margin-top: 4px;
  min-width: 50%;
  display: flex;
  align-self: flex-end;
  flex-direction: column;
  background-color: white;
  box-shadow: 2px 2px 2px rgb(201, 201, 201), 0px 0px 2px rgb(201, 201, 201);
  border-radius: 6px;
}

.navigation__menu--hidden {
  display: none;
}

.navigation__menu__item {
  padding: 12px;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info__image {
  width: 80%;
  max-width: 400px;
  margin-bottom: 16px;
}

.info__title {
  font-size: 34px;
}

.info__title__name {
  font-weight: bold;
}

.info__tagline {
  font-size: 18px;
  font-weight: lighter;
  margin-bottom: 40px;
  text-align: center;
}

.email {
  display: inline-block;
  opacity: 0.7;
  text-decoration: none;
  color: inherit;
  margin-bottom: 8px;
}

.links {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

.links__item {
  margin: 8px;
}

.links__image {
  height: 24px;
  filter: grayscale(1);
}

.section {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.section__heading {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 24px;
}

.skills {
  display: flex;
  flex-wrap: wrap;
}

.skills__item {
  display: flex;
  align-items: center;
  width: 50%;
  margin-bottom: 32px;
}

.skills__item__logo {
  height: 36px;
  width: 36px;
  margin-right: 8px;
  object-fit: contain;
  filter: grayscale(100%);
  transition: filter 0.3s;
}

.skills__item__logo:hover {
  filter: grayscale(0%);
}

.skills__item__name {
  font-size: 20px;
  font-weight: lighter;
}
