@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;700&display=swap");

body {
  font-family: "Rubik", sans-serif;
  color: #212121;
}

.container {
  height: 100vh;
  width: 100vw;
  padding: 16px;
}

.navigation {
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 0;
  right: 0;
  left: 0;
  padding: 8px;
}

.navigation__toggle {
  align-self: flex-end;
  position: relative;
  display: inline-block;
  padding: 8px;
  border: 1.5px solid grey;
  border-radius: 50%;
  background-color: white;
}

.navigation__toggle__image {
  height: 16px;
}

.navigation__menu {
  margin-top: 4px;
  min-width: 50%;
  display: flex;
  align-self: flex-end;
  flex-direction: column;
  background-color: white;
  box-shadow: 2px 2px 2px rgb(201, 201, 201), 0px 0px 2px rgb(201, 201, 201);
  border-radius: 6px;
}

.navigation__menu--hidden {
  display: none;
}

.navigation__menu__item {
  padding: 12px;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info__image {
  width: 80%;
  max-width: 400px;
  margin-bottom: 16px;
}

.info__title {
  text-align: center;
  font-size: 34px;
}

.info__title__name {
  font-weight: bold;
}

.info__tagline {
  font-size: 18px;
  font-weight: lighter;
  margin-bottom: 40px;
  text-align: center;
}

.main__contact {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main__contact__email {
  display: inline-block;
  opacity: 0.7;
  text-decoration: none;
  color: inherit;
  margin-bottom: 8px;
}

.main__contact__links {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

.links__item {
  margin: 8px;
}

.links__image {
  height: 24px;
  filter: grayscale(1);
}

.section {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
}

.section__heading {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 24px;
}

.skills {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.skills__item {
  display: flex;
  align-items: center;
  width: 40%;
  margin-bottom: 32px;
}

.skills__item__logo {
  height: 36px;
  width: 36px;
  margin-right: 8px;
  object-fit: contain;
  filter: grayscale(100%);
  transition: filter 0.3s;
}

.skills__item__logo:hover {
  filter: grayscale(0%);
}

.skills__item__name {
  font-size: 20px;
  font-weight: lighter;
}

.experience {
}

.experience__item {
  margin-bottom: 32px;
}

.experience__item__title {
  margin-bottom: 4px;
  font-size: 20px;
}

.experience__item__name {
  margin-bottom: 4px;
  font-size: 16px;
}

.experience__item__date {
  margin-bottom: 8px;
  font-size: 16px;
}

.experience__item__description {
  font-size: 16px;
  color: #7c7c7c;
  text-align: justify;
}

.education__item {
  margin-bottom: 32px;
}

.education__item__name {
  margin-bottom: 4px;
  font-size: 20px;
}

.education__item__course {
  margin-bottom: 4px;
  font-size: 16px;
}

.education__item__date {
  margin-bottom: 8px;
  font-size: 16px;
}

.education__item__description {
  font-size: 16px;
  color: #7c7c7c;
  text-align: justify;
}

@media only screen and (min-width: 600px) {
  .container {
    padding: 48px;
  }

  .section__heading {
    font-size: 32px;
  }

  .skills__item {
    width: 26%;
  }

  .skills__item__name {
    font-size: 24px;
  }

  .skills__item__logo {
    height: 48px;
  }

  .experience__item__title {
    font-size: 22px;
  }

  .experience__item__name {
    font-size: 18px;
  }

  .experience__item__date {
    font-size: 18px;
  }

  .experience__item__description {
    font-size: 18px;
  }

  .education__item__name {
    font-size: 22px;
  }

  .education__item__course {
    font-size: 18px;
  }

  .education__item__date {
    font-size: 18px;
  }

  .education__item__description {
    font-size: 18px;
  }
}

@media only screen and (min-width: 1024px) {
  .container {
    padding: 80px;
  }

  .main {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 80px;
  }

  .info {
    flex: 1;
    flex-direction: row;
    justify-content: space-between;
  }

  .info__title {
    text-align: left;
    font-size: 48px;
  }

  .info__tagline {
    text-align: left;
    font-size: 30px;
  }

  .info__image {
    order: 1;
  }

  .main__contact {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .main__contact__email {
    margin: 0;
    order: 1;
  }

  .main__contact__links {
    margin: 0;
  }

  .navigation {
    padding: 0;
    position: relative;
    display: flex;
  }

  .navigation__toggle {
    display: none;
  }

  .navigation__menu {
    margin: 0;
    display: flex;
    flex-direction: row;
    border-radius: 0px;
    min-width: 0%;
    box-shadow: none;
  }

  .navigation__menu__item {
    padding: 0 24px;
  }

  .section__heading {
    font-size: 40px;
    margin-bottom: 40px;
  }

  .skills {
    justify-content: space-between;
  }

  .skills__item {
    width: 26%;
    margin-bottom: 40px;
  }

  .skills__item__name {
    font-size: 24px;
  }

  .skills__item__logo {
    height: 48px;
    margin-right: 24px;
  }

  .experience__item__title {
    font-size: 24px;
  }

  .experience__item__name {
    font-size: 20px;
  }

  .experience__item__date {
    font-size: 20px;
  }

  .experience__item__description {
    font-size: 18px;
  }

  .education__item__name {
    font-size: 24px;
  }

  .education__item__course {
    font-size: 20px;
  }

  .education__item__date {
    font-size: 20px;
  }

  .education__item__description {
    font-size: 18px;
  }
}
