<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/portfolios/{{this.templateId}}/styles.css" />
</head>

<body>
  {{ this.id }}
  {{{ body }}}
  <script>console.log({{ this}})</script>
</body>

</html>